@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=JetBrains+Mono:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
}

h2 {
    font-family: 'JetBrains Mono', monospace;
}


.content {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
}

pre {
    font-size: 12px;
}

code {
    font-family: 'JetBrains Mono', monospace;
}

.apply-now-button {
    background-color: #141414;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(255, 255, 255);
    padding: 8px 32px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.apply-now-button:hover {
    background-color: #3b3b3b;
    transform: scale(1.04);
}

.website-button {
    background-color: #141414;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(255, 255, 255);
    padding: 8px 32px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.website-button:hover {
    background-color: #3b3b3b;
    transform: scale(1.04);
}

img {
    max-width: 450px;
    height: auto;
    display: block;
    outline: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 3%;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 7%;
        margin-right: 7%;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    pre {
        font-size: 12px;
        margin-left: -40%;
        width: calc(100% + 20px);
        max-width: none;
    }
}

details > summary {
    cursor: pointer;
  }
  
  /* highlight the summary on hover whether closed or open */
  details > summary:hover {
    background-color: #151515;
    transition: background-color 0.2s ease;
  }

  html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}